---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Activities from '../components/Activities.astro';
import Destinations from '../components/Destinations.astro';
import Pickups from '../components/Pickups.astro';
import TourDescriptions from '../components/TourDescriptions.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Asterion Safari - Home">
  <Header />
  <main>
    <Hero />
    <Activities />
    <Destinations />
    <Pickups />
    <TourDescriptions />
    <Testimonials />
    <Footer />
  </main>
</Layout>
